*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
    /* regular: 400,mediaum:500,semi-bold:600,bold:700 */
}
ul{
  list-style: none;
}
a:link {
    text-decoration: none;
  }
.container{max-width: 1240px;}
.bg-light{background-color: #ffffff !important;padding: 1px 0px;}
.bg-primary{background-color: #4b5ba4 !important;}


  .top-menu .fa {
    padding: 7px;
    font-size: 12px;
    width: 26px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 25px;
    background: rgb(243,12,144);
   background: linear-gradient(90deg, rgba(243,12,144,1) 37%, rgba(194,58,148,1) 69%, rgba(167,84,151,1) 98%);
   color:#ffffff;
  }
  .nav-link{
      color: #0066b1 !important;
      font-size: 20px;
      font-weight: 500;
      transition: 0.3s;
      padding-left: 1.5rem !important;
  }
  .nav-link:hover{
      color: #53ba7f !important;
  }
  .header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 8px 6px -6px rgb(0 0 0 / 20%);
    z-index: 11;
}
  
  .btn-grad {background-image: linear-gradient(to right, #f50990 0%, #aa5297 51%, #FF512F 100%);}
  .btn-grad {
    margin: auto;
    padding: 9px 14px;
     text-align: center;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;
     font-weight: 500;          
     border-radius: 10px;
     display: inline-block;
   }   

   .btn-grad-banner {background-image: linear-gradient(to right, #f50990 0%, #aa5297 51%, #FF512F 100%);}
  .btn-grad-banner {
    margin: auto;
    padding: 11px 23px;
     text-align: center;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;
     font-weight: 500;          
     border-radius: 10px;
     display: inline-block;
   }

   .btn-grad-banner:hover,.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  
  .typewriter{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
  
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    /* letter-spacing: .15em;  */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  .momento-360-view .logo-anchor .logo {
    display: none !important;
}
video {
  width: 100%;
  height: auto;
}
  .pano-image{
      position: relative;
  }
  .pano-image::before{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0,0,0,0.1);
    height: fit-content;
  }
  /* .pano-image iframe{
      height: 570px;
  } */
  .banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .title{
      color: #ffffff;
    font-family: 'Prata', serif;
      font-size: 50px;
      white-space: nowrap;
  }

  .text-yellow {
      color: #fff700;
  }

  .section-pd{
      padding:95px 0px;
  }

  /* video in below banner */

  .video-title{
    font-family: 'Prata', serif;
      font-size: 35px;
      font-weight: 700;
      color:#4b5ba4;
      text-shadow: 2px 4px 4px #c5d7f9;
  }

  /* About Us Css */
  .internal-title {
    font-family: 'Prata', serif;
    font-size: 50px;
    font-weight: 700;
    color:#4b5ba4;
    text-shadow: 2px 4px 4px #c5d7f9;
  }

  .bg-grey{
      background-color: #fafcfc;
  }
.about-content{
    padding: 47px 0px;
}
.about-content p{
    font-size: 22px;
}

.why-business{
        position: relative;
        background-image: url("../images/why-business.jpg"); /* The image used */
        background-color: rgba(255,255,255,0.9); /* Used if the image is unavailable */
        height: 600px; /* You must set a specified height */
        background-position: center bottom; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover;
}

/* Why carnival  css */
.why-business-title {
    font-family: 'Prata', serif;
    font-size: 50px;
    font-weight: 700;
    color:#ffffff;
  }

  .how-it-works .content{
      font-size: 20px;
      text-align: justify;
  }
  .how-it-works p {
    min-height: 297px;
    font-size: 18px;
    font-weight: 400;
}

  .how-it-works{
      position: relative;
      padding: 50px 0px;
  }

  .how-it-works::before {
    content: '';
    background: url(../images/abstract-upper-img.png) no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -2px;
    background-position: left top;
    background-size: 25%;
}
.how-it-works::after{
        content: '';
        background: url(../images/abstract-lower-img.png) no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        background-position: right bottom;
        background-size: 25%;
        z-index: 0;
}
.card{z-index: 1;}

.how-it-works-title {
    color: #6b86b3;
    font-size: 21px;
    font-weight: 600;
    min-height: 46px;
}



.btn-primary {
    color: #fff;
    background-color: #355a97;
    border-color: #355a97;
}


 /* Schedule a CCall --*/
.cta{
    position: relative;
    background-image: url("../images/cta.jpg"); /* The image used */
    background-color: rgba(255,255,255,0.9); /* Used if the image is unavailable */
    height: 330px; /* You must set a specified height */
    background-position: center bottom; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.schedule-call-content{
  padding: 25px 0px;
}
/* Industry Association */
.industry-association .media p{
  font-size: 21px;
 
}
.industry-association p{
  font-size: 18px;
  padding-left: 12px;
}

.industry-content{
  position: relative;
  font-size: 20px;
}

.industry-content::before{
  content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0;
    bottom: 0;
    border: 4px solid green;
    border-width: 0 0 0 4px;
}

/*------------ News Section--------- */
.news-section{
  position: relative;
  padding: 45px 0px;
}
.news-section::before{
    content: '';
    background: url(../images/news-shape.png) no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0px;
    background-position: right top;
    background-size: 42%;
}

.news-title{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.news-section p{
  font-size: 20px;
}

.subscribe-section{
  position: relative;
  background-image: url(../images/cta.jpg);
  background-color: rgba(255,255,255,0.9);
  height: 250px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

/* footer section */
footer{
  padding:50px 0px 25px;
  margin-top: 95px;
}
#myVideo{
  min-width: 100%; 
  min-height: 100vh;
}
.footer-title{
font-size: 33px;
font-weight: 700;
color:#ffffff;
 margin-bottom: 20px;
}
footer a{
  color:#ffffff;
}
footer a:hover{
  color: #53ba7f;
}
.footer-list li {padding: 10px 0px;}
.social-media-icon .fa {
  padding: 11px;
  font-size: 17px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 25px;
  background: rgb(243,12,144);
  background: linear-gradient(90deg, rgba(243,12,144,1) 37%, rgba(194,58,148,1) 69%, rgba(167,84,151,1) 98%);
  color:#ffffff;
}
.fa:hover{
  opacity: 0.9;
}

.footer-menu a{
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}
hr{background-color: #fff;}
@media (max-width:1024px) {
  .navbar-light .navbar-brand {
    margin-left: 10px;
}
  .navbar-light .navbar-toggler {
    margin-right: 10px;
}
.video-title {
  font-family: 'Prata', serif;
  font-size: 21px;
  }
  .section-pd {
    padding: 32px 0px;
}
.about-content {
  padding: 30px 0px;
}
.internal-title {
  font-size: 26px;}
  .about-content p {
    font-size: 18px;
}
.why-business-title {
  font-size: 26px;}
  .why-business {
    height: auto;}
  .how-it-works p {
    min-height: 241px;
    font-size: 16px ;
}
}
@media (max-width:991px) {
  .title {
    font-size: 33px;
  }
}
@media (max-width:767px) {
  
  .title {
        font-size: 26px;
  }
  .why-business { height: auto;}
  .top-menu{display: none;}
  .about-content p {
    font-size: 16px;
}
  .section-pd {
    padding: 35px 0px;
}
.about-content {
  padding: 35px 0px;
}
.how-it-works .content {
  font-size: 16px;
}
.how-it-works p {
  min-height: auto;
}
.cta {
  height: auto;}

  .how-it-works {
    padding: 10px 0px;
}
.news-title {
  font-size: 20px;}
  .news-section p {
    font-size: 16px;
}
footer {
  padding: 35px 0px 15px;
  margin-top: 30px;
}
.footer-title{
  font-size: 25px;
  }
  .text-center-mob{
    text-align: center;
  }
}
@media (max-width:520px) {
  .how-it-works p {
    min-height: auto;
    font-size: 16px;
    font-weight: 400;
}
  
  .about-content {
    padding: 25px 0px;
}
  .title {
    color: #ffffff;
    font-family: 'Prata', serif;
    font-size: 16px;
    white-space: nowrap;
}
.text-yellow {
  color: #fff700;
}
.btn-grad-banner {
  margin: auto;
  padding: 8px 11px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  display: inline-block;
  font-size: 12px;
}
.video-title {
  font-size: 17px;
}
.internal-title,.why-business-title {
  font-size: 25px;
}
.footer-title {
  font-size: 23px;
}
  .footer-menu a {
    font-size: 16px;
}
}